<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.runtrack">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@drawable/runrandom"
        android:icon="@drawable/runrandom"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".NewRun"
            android:label="@string/add_run"
            android:parentActivityName=".AllRuns"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ChallengeSelect"
            android:id="@+id/challenge_select"
            android:label="@string/challenge_select"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Challenges"
            android:label="@string/challenges"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ChallengeAccepted"
            android:label="@string/challenge_accepted"
            android:parentActivityName=".ChallengeSelect"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".NewRunC"
            android:label="@string/add_run"
            android:parentActivityName=".ChallengeAccepted"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".AllRuns"
            android:label="@string/all_runs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".EditRun"
            android:label="@string/edit_run"
            android:parentActivityName=".ShowRun"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ShowRun"
            android:label="@string/show_run"
            android:parentActivityName=".AllRuns"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Stats"
            android:label="STATS"
            android:parentActivityName=".AllRuns"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ChallengeDeclined"
            android:parentActivityName=".ChallengeSelect"
            android:theme="@style/SplashTheme">
        </activity>


    </application>

</manifest>